<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
<bean id="account" class="com.sample.product.entity.Account" scope="session">
      <aop:scoped-proxy/>
  </bean>
<bean id="shoppingCart" class="com.sample.product.entity.ShoppingCart" scope="session">
		<aop:scoped-proxy/>
    </bean>
<bean id="shoppingCart2" class="com.sample.product.entity.ShoppingCart2" scope="session">
		<aop:scoped-proxy/>
    </bean>    
 <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
    <property name="scopes">
        <map>
            <entry key="session">
	<bean class="org.springframework.web.context.request.SessionScope"/>
            </entry>
        </map>
    </property>
	</bean>

<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/practice" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="productDAO"
		class="com.sample.product.dao.ProductDAODB">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="managerDAO"
		class="com.sample.product.dao.CustomerDAODB">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="purchaseOrderDAO" class="com.sample.product.dao.PurchaseOrderDAODB">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="salesOrderDAO" class="com.sample.product.dao.SalesOrderDAODB">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>


